.App {
  text-align: left;
  color: #111111;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.Header {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h1 {
 
  color: #c72496;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Footer {
  text-align: left;
  margin-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Ol {
  list-style-type: decimal;
  text-align: left;
  max-width: 800px;
}

.Li {
  font-weight: bold;
  margin-bottom: 1px;
}