.app{
  text-align: center;
  color: #d11717;
  font-family: Arial, sans-serif;
  font-size: 16px;


}
.h1{
  font-size: 24px;
  margin-bottom: 20px;
  color: #140101;
  font-family: Arial, sans-serif;
}
.button{
  background-color: #bfcf2d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  background-color: #a82020;
}

