.mini-header {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #f6e6f0, #ead0e3);
}

.mini-header {
  display: flex;
  flex-direction: column;
}

.mini-header {
  width: 300px;
  padding: 10px 15px;

  background: #813e68;

  border-radius: 28px;

  box-shadow: 0 10px 30px rgba(129, 62, 104, 0.35);

  text-align: center;
}

.mini-avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  object-fit: cover;

  border: 5px solid white;

  margin-bottom: 18px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.mini-name {
  color: white;

  font-size: 28px;
  font-weight: bold;

  letter-spacing: 1px;

  font-family: "Poppins", sans-serif;
}